.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    height: 6rem;
    padding: 0 2rem;
    background-color: #e80707;
    --bs-gutter-x: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-category-image{
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 10vh;
    display: flex;
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222);
}

.title-page{
    color: aliceblue;
    font-size: 2.5em;
}